@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .square {
    @apply bg-white border border-gray-500 float-left text-[24px] font-bold leading-[34px] h-[34px] mr-[-1px] mt-[-1px] w-[34px] text-center
  }

  .board-row::after{
    clear: both;  
    content: '';
    display: table;
  }
}